* {
  all: unset;
}

head {
  display: none;
}

html {
  font-family: 'Inconsolata';
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  display: block;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: 700;
}

a {
  cursor: pointer;
  color: #487eb0;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  line-height: 1.4rem;
}