* {
  all: unset;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

head {
  display: none;
}

html {
  font-family: 'Source Code Pro';
  background-color: #2c2c2c;
  color: #efefef;
  font-size: 13px;
  padding: 1rem;
}

pre {
  white-space: pre;
  font-style: italic;

  a {
    color: royalblue;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: royalblue;
      color: #2c2c2c;
    }
  }
}