{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}